@font-face {
	font-family: 'Monument Grotesk';
	src: url('/fonts/MonumentGrotesk-Regular.woff') format('woff'), url('/fonts/MonumentGrotesk-Regular.ttf') format('truetype'), url('/fonts/MonumentGrotesk-Regular.otf') format('opentype');
	font-display: swap;
}